@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.header {
  padding: $space $space_x3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  z-index: 99;
  top: 0px;
  width: 100%;
  font-family: $Fuente1;
  background-color: get-opacity($color-claro, 1);
  &__logo {
    padding: $space 0;
    display: flex;
    align-items: center;
    img {
      width: 120px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    a {
      display: none;
      text-decoration: none;
      color: $color-oscuro;
      img {
        width: 20px;
      }
    }
    img {
      margin: 0 $space;
      width: 15px;
      height: 15px;
      object-fit: contain;
      &:hover {
        cursor: pointer;
      }
    }
    .header__menu {
      display: inline-block;
      border: none;
      outline: none;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }
  @include media(tablet) {
    padding: $space;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    &__logo {
      padding: $space $space_x4;
      display: flex;
      align-items: center;
      img {
        width: 180px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &__links {
      padding: 0 $space_x4;
      display: flex;
      align-items: center;
      margin: 0;
      a {
        padding: $space_half $space_x2;
        font-family: $Fuente2;
        font-weight: $normal;
        color: $color-oscuro;
        @include font-size($p);
        &:hover {
          text-decoration: none;
          color: $color-claro;
          background-color: $color-primario;
        }
      }
      img {
        margin: 0 $space;
        width: 20px;
        height: 20px;
        object-fit: contain;
        &:hover {
          cursor: pointer;
        }
      }
      .header__menu {
        display: block;
        border: none;
        outline: none;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  @include media(desktop-s) {
    padding: $space $space_x4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    &__logo {
      padding: $space $space_x4;
      display: flex;
      align-items: center;
      img {
        width: 180px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &__links {
      padding: 0 $space_x4;
      display: flex;
      align-items: center;
      margin: 0;
      a {
        padding: $space_half $space_x2;
        display: inline;
        font-family: $Fuente2;
        font-weight: $normal;
        color: $color-oscuro;
        @include font-size($p);
        &:hover {
          text-decoration: none;
          color: $color-claro;
          background-color: $color-primario;
        }
        &.active {
          color: $color-claro;
          background-color: $color-primario;
        }
      }
      img {
        margin: 0 $space;
        width: 20px;
        height: 20px;
        object-fit: contain;
        &:hover {
          cursor: pointer;
        }
      }
      .header__menu {
        display: none;
      }
    }
  }
}

.responsive {
  display: block;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 99;
  top: 0;
  .header__links {
    padding: 0 $space_x4;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    a {
      padding: $space_x2 0;
      display: block;
      width: 100%;
      text-align: center;
      @include font-size($p);
    }
    img {
      margin: $space_x2 0;
    }
  }
  .header__menu {
    position: absolute;
    right: 11%;
    top: 5px;
    z-index: 99;
  }
  @include media(tablet){
    display: block;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 99;
    top: 0;
    .header__links {
      padding: 0 $space_x4;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0;
      a {
        padding: $space_x2 0;
        display: block;
        width: 100%;
        text-align: center;
      }
      img {
        margin: $space_x2 0;
      }
    }
    .header__menu {
      position: absolute;
      right: 60px;
      top: 6px;
      z-index: 99;
    }
  }
}
