
//Brand colors

$color-primario: #fc758c;
$color-secundario: #8D9CF2;

//Action colors

$color-variante: #F2D750;
$color-variante-dos:  #04D9C4 ;

//Boolean colors
$color-negative: #f44336;
$color-positive: #04bf42;

//Background colors

$color-bg-claro: #f2f2f2;
$color-bg-oscuro: #181818;

//Basic colors

$color-claro: #ffffff;
$color-oscuro: #707070;
