@import "../Tokens/colors";
@import "../Tokens/spacings";
@import "../Tokens/typos";

.works {
  padding: $space_x3;
  text-align: center;
  &__band {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__grid {
    margin: $space_x3 auto;
    width: 70%;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
  }
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  margin: 1rem 0 1rem 0;
  width: 100%;
  height: 300px;
  color: white;
  background-color: Gainsboro;
  cursor: pointer;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: $color-primario;
    transition: 0.5s ease;
    &--text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      font-size: 20px;
      text-align: center;
      color: $color-claro;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
  p {
    font-family: $Fuente1;
    font-weight: $medium;
    text-transform: uppercase;
  }
  hr {
    width: 100%;
    border: 2px solid $color-claro;
    border-radius: $space_x3;
    background-color: $color-claro;
  }
  &:hover .card__overlay {
    opacity: 1;
  }
}

.card:nth-child(1) {
  margin-top: 0;
  height: auto;
}

.card:nth-child(2) {
  height: auto;
}

.card:nth-child(3) {
  height: auto;
}

.card:nth-child(4) {
  height: auto;
}

.card:nth-child(5) {
  height: 320px;
  margin-bottom: 0;
}

.card:nth-child(6) {
  height: auto;
}

.card:nth-child(7) {
  height: auto;
}

.card:nth-child(8) {
  height: auto;
}

.card:nth-child(9) {
  height: 500px;
  margin-bottom: 0;

}
.card:nth-child(10) {
  height: auto;
}
.card:nth-child(11) {
  height: auto;
}
.card:nth-child(12) {
  height: auto;
}

.card:nth-child(13) {
  height: 435px;
  margin-bottom: 0;
}
