@import "../Tokens/colors";
@import "../Tokens/spacings";
@import "../Tokens/typos";

.works {
  padding: $space_x3;
  &__band {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}